# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [3]:
# Criando cópia e entendendo a coluna munResLat
sinasc = sinasc_raw.copy()
sinasc['munResLat']

0       -11.93554
1       -11.93554
2       -11.93554
3       -12.13178
4       -11.93554
           ...
27023   -12.74137
27024   -12.55684
27025   -12.74137
27026   -12.74137
27027   -11.70974
Name: munResLat, Length: 27028, dtype: float64

In [4]:
# Verificando as colunas
sinasc.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

In [12]:
# Pegando o maior valor e o menor valor de munResLat
maior_latitude = sinasc['munResLat'].max()
print(maior_latitude)

menor_latitude = sinasc['munResLat'].min()
print(menor_latitude)

-8.76889
-13.49976

In [13]:
# Criando faixa de valor do menor até -10.5 e de -10.5 até o maior valor

faixa_latitude = pd.cut(sinasc['munResLat'], bins=[menor_latitude, -10.5, maior_latitude])
faixa_latitude

0        (-13.5, -10.5]
1        (-13.5, -10.5]
2        (-13.5, -10.5]
3        (-13.5, -10.5]
4        (-13.5, -10.5]
              ...
27023    (-13.5, -10.5]
27024    (-13.5, -10.5]
27025    (-13.5, -10.5]
27026    (-13.5, -10.5]
27027    (-13.5, -10.5]
Name: munResLat, Length: 27028, dtype: category
Categories (2, interval[float64, right]): [(-13.5, -10.5] < (-10.5, -8.769]]

In [14]:
# Resultado de soma, média, minimo, máximo, mediana e desvio padrão das latitudes acima e abaixo de -10.5
# baseados no APGAR5 e no PESO


latitude_table = sinasc.pivot_table(index=faixa_latitude, values=['PESO', 'APGAR5'], 
                             aggfunc=['sum', 'mean', 'min', 'max', 'median', 'std', 'var'])
latitude_table

                      sum                mean                 min         max
                   APGAR5      PESO    APGAR5         PESO APGAR5 PESO APGAR5
munResLat
(-13.5, -10.5]   117663.0  41831706  9.138874  3239.503291    0.0  258   10.0  \
(-10.5, -8.769]  128746.0  45555148  9.216551  3246.055864    0.0  295   10.0

                      median             std                   var
                 PESO APGAR5  PESO    APGAR5        PESO    APGAR5
munResLat
(-13.5, -10.5]   5985    9.0  3270  0.806977  532.148867  0.651211  \
(-10.5, -8.769]  5190    9.0  3275  0.774741  556.487709  0.600224


                          PESO
munResLat
(-13.5, -10.5]   283182.416830
(-10.5, -8.769]  309678.570242

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [8]:
# Pegando o maior e menor valor de munResArea

maior_area = sinasc['munResArea'].max()
print(maior_area)

menor_area = sinasc['munResArea'].min()
print(menor_area)

34096.394
459.978

In [9]:
# Criando faixa de valor do menor até 3000 e de 3000 até o maior valor
faixa_area = pd.cut(sinasc['munResArea'], bins=[menor_area, 3000, maior_area])
faixa_area

0        (3000.0, 34096.394]
1        (3000.0, 34096.394]
2        (3000.0, 34096.394]
3        (3000.0, 34096.394]
4        (3000.0, 34096.394]
                ...
27023    (3000.0, 34096.394]
27024    (3000.0, 34096.394]
27025    (3000.0, 34096.394]
27026    (3000.0, 34096.394]
27027      (459.978, 3000.0]
Name: munResArea, Length: 27028, dtype: category
Categories (2, interval[float64, right]): [(459.978, 3000.0] < (3000.0, 34096.394]]

In [10]:
# Resultado de soma, média, minimo, máximo, mediana e desvio padrão das areas acima e abaixo de 3000
# baseados na quantidade de filho vivo e morto

area_table = sinasc.pivot_table(index=faixa_area, values=['QTDFILVIVO', 'QTDFILMORT'], 
                               aggfunc=['sum', 'mean', 'min', 'max', 'median', 'std', 'var'])

area_table

                           sum                  mean                   min
                    QTDFILMORT QTDFILVIVO QTDFILMORT QTDFILVIVO QTDFILMORT
munResArea
(459.978, 3000.0]       1247.0     4718.0   0.245328   0.925098        0.0  \
(3000.0, 34096.394]     5383.0    22053.0   0.272116   1.086890        0.0

                                      max                median
                    QTDFILVIVO QTDFILMORT QTDFILVIVO QTDFILMORT QTDFILVIVO
munResArea
(459.978, 3000.0]          0.0        4.0       30.0        0.0        1.0  \
(3000.0, 34096.394]        0.0       28.0       14.0        0.0        1.0

                           std                   var
                    QTDFILMORT QTDFILVIVO QTDFILMORT QTDFILVIVO
munResArea
(459.978, 3000.0]     0.552102   1.076172   0.304816   1.158146
(3000.0, 34096.394]   0.629081   1.191750   0.395743   1.420268

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [15]:
# Guardando o valor da mediana, que vai ser o valor de corte
mediana = sinasc['munResAlt'].median()

# Guardando os valores de máximo e minimo para fazer a faixa de valores
maior_alt = sinasc['munResAlt'].max()
menor_alt = sinasc['munResAlt'].min()

In [16]:
# Criando faixa de valor do menor até a mediana e da mediana até o maior valor
faixa_alt = pd.cut(sinasc['munResAlt'], bins=[menor_alt, mediana, maior_alt])
faixa_alt

0        (153.0, 595.0]
1        (153.0, 595.0]
2        (153.0, 595.0]
3        (153.0, 595.0]
4        (153.0, 595.0]
              ...
27023    (153.0, 595.0]
27024    (153.0, 595.0]
27025    (153.0, 595.0]
27026    (153.0, 595.0]
27027    (153.0, 595.0]
Name: munResAlt, Length: 27028, dtype: category
Categories (2, interval[float64, right]): [(85.0, 153.0] < (153.0, 595.0]]

In [17]:
# Resultado de soma, média, minimo, máximo, mediana e desvio padrão das altitudes acima e abaixo da mediana
# baseados no APGAR1 e nos valores de cuidado de pré natal

alt_table = sinasc.pivot_table(index=faixa_alt, values=['KOTELCHUCK', 'APGAR1'], 
                              aggfunc=['sum', 'mean', 'min', 'max', 'median', 'std', 'var'])
alt_table

                     sum                 mean               min
                  APGAR1 KOTELCHUCK    APGAR1 KOTELCHUCK APGAR1 KOTELCHUCK
munResAlt
(85.0, 153.0]   108408.0      71017  8.204647   5.345653    0.0          1  \
(153.0, 595.0]  107998.0      61545  8.067981   4.591197    0.0          1

                  max            median                  std
               APGAR1 KOTELCHUCK APGAR1 KOTELCHUCK    APGAR1 KOTELCHUCK
munResAlt
(85.0, 153.0]    10.0          9    8.0          5  1.015943   2.457938  \
(153.0, 595.0]   10.0          9    8.0          5  0.951107   1.466623

                     var
                  APGAR1 KOTELCHUCK
munResAlt
(85.0, 153.0]   1.032140   6.041461
(153.0, 595.0]  0.904605   2.150982

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia
https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_geogr%C3%A1ficas_intermedi%C3%A1rias_e_imediatas_de_Rond%C3%B4nia

In [21]:
# Fazendo o dicionário de acordo com o link, feito imediatas apenas de Porto Velho para 
# não ficar muito grande o dicionário e poder focar na aplicação das técnicas de manipulação de dados.

imediatas = {
    'Candeias do Jamari':'Porto Velho',
    'Guajará-Mirim':'Porto Velho',
    'Itapuã do Oeste':'Porto Velho',
    'Nova Mamoré':'Porto Velho',
    'Porto Velho':'Porto Velho',
    'Alto Paraíso':'Ariquemes',
    'Ariquemes':'Ariquemes',
    'Buritis':'Ariquemes',
    'Cacaulândia':'Ariquemes',
    'Campo Novo de Rondônia':'Ariquemes',
    'Cujubim':'Ariquemes',
    'Monte Negro':'Ariquemes',
    'Rio Crespo':'Ariquemes',
    'Governador Jorge Teixeira':'Jaru',
    'Jaru':'Jaru',
    "Machadinho d'Oeste":'Jaru',
    'Vale do Anari':'Jaru'
}

In [29]:
# Resultado da média da idade das mães agrupado pelas regiões imediatas
sinasc_idademae_regiao = sinasc.set_index('munResNome')
resultado = sinasc_idademae_regiao.groupby(imediatas)['IDADEMAE'].mean()
df_resultado = resultado.reset_index()
df_resultado

    munResNome   IDADEMAE
0    Ariquemes  25.459635
1         Jaru  25.829650
2  Porto Velho  26.166303

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

In [30]:
IDH = {
    'Porto Velho':'Alto',
    'Vilhena':'Alto',
    'Cacoal':'Alto',
    'São Miguel do Guaporé':'Medio',
    'Mirante da Serra':'Medio',
    'Rio Crespo':'Medio',
    'Teixeirópolis':'Medio',
    'Seringueiras':'Baixo',
    'Campo Novo de Rondônia':'Baixo',
    'Vale do Anari':'Baixo'
}
IDH

{'Porto Velho': 'Alto',
 'Vilhena': 'Alto',
 'Cacoal': 'Alto',
 'São Miguel do Guaporé': 'Medio',
 'Mirante da Serra': 'Medio',
 'Rio Crespo': 'Medio',
 'Teixeirópolis': 'Medio',
 'Seringueiras': 'Baixo',
 'Campo Novo de Rondônia': 'Baixo',
 'Vale do Anari': 'Baixo'}

In [43]:
sinasc_apgar5_idh = sinasc.set_index('munResNome')
resultado = sinasc_apgar5_idh.groupby(IDH)['APGAR5'].mean()
df_resultado = resultado.reset_index()
df_resultado_ordenado = df_resultado.sort_values(by='APGAR5', ascending=False)
df_resultado_ordenado

  munResNome    APGAR5
1      Baixo  9.339578
2      Medio  9.307448
0       Alto  9.191853

### 5.2 IFDM 
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

In [45]:
IFDM = {
    'Ariquemes':'Desenvolvimento moderado',
    'Vilhena':'Desenvolvimento moderado',
    'Pimenta Bueno':'Desenvolvimento moderado',
    'Porto Velho':'Desenvolvimento moderado',
    'Ji-Paraná':'Desenvolvimento moderado',
    'Cacoal':'Desenvolvimento moderado',
    "Santa Luzia d'Oeste":'Desenvolvimento moderado',
    'Rolim de Moura':'Desenvolvimento moderado',
    'Chupinguaia':'Desenvolvimento moderado',
    'São Miguel do Guaporé':'Desenvolvimento moderado',
    'Pimenteiras do Oeste':'Desenvolvimento moderado',
    'Teixeirópolis':'Desenvolvimento moderado',
    'Colorado do Oeste':'Desenvolvimento moderado',
    'Jaru':'Desenvolvimento moderado',
    'Rio Crespo':'Desenvolvimento moderado',
    'Primavera de Rondônia':'Desenvolvimento moderado',
    "Alta Floresta d'Oeste":'Desenvolvimento moderado',
    'Ouro Preto do Oeste':'Desenvolvimento moderado',
    'São Francisco do Guaporé':'Desenvolvimento moderado',
    'Candeias do Jamari':'Desenvolvimento moderado',
    'Buritis':'Desenvolvimento moderado',
    "São Felipe d'Oeste":'Desenvolvimento moderado',
    'Presidente Médici':'Desenvolvimento moderado',
    'Cerejeiras':'Desenvolvimento moderado',
    'Monte Negro':'Desenvolvimento moderado',
    'Urupá':'Desenvolvimento moderado',
    "Espigão d'Oeste":'Desenvolvimento regular',
    'Seringueiras':'Desenvolvimento regular',
    "Alvorada d'Oeste":'Desenvolvimento regular',
    'Itapuã do Oeste':'Desenvolvimento regular',
    'Cabixi':'Desenvolvimento regular',
    'Novo Horizonte do Oeste':'Desenvolvimento regular',
    "Nova Brasilândia d'Oeste":'Desenvolvimento regular',
    'Vale do Paraíso':'Desenvolvimento regular',
    'Corumbiara':'Desenvolvimento regular',
    'Alto Paraíso':'Desenvolvimento regular',
    'Cacaulândia':'Desenvolvimento regular',
    'Vale do Anari':'Desenvolvimento regular',
    'Ministro Andreazza':'Desenvolvimento regular',
    'Costa Marques':'Desenvolvimento regular',
    'Nova União':'Desenvolvimento regular',
    'Guajará-Mirim':'Desenvolvimento regular',
    'Mirante da Serra':'Desenvolvimento regular',
    'Parecis':'Desenvolvimento regular',
    'Castanheiras':'Desenvolvimento regular',
    'Theobroma':'Desenvolvimento regular',
    "Machadinho d'Oeste":'Desenvolvimento regular',
    'Campo Novo de Rondônia':'Desenvolvimento regular',
    'Nova Mamoré':'Desenvolvimento regular',
    'Cujubim':'Desenvolvimento regular',
    'Alto Alegre dos Parecis':'Desenvolvimento regular',
    'Governador Jorge Teixeira':'Desenvolvimento regular'
}

In [86]:
sinasc_IFDM = sinasc.set_index('munResNome')
resultado = sinasc_peso_IFDM.groupby(IFDM)[['APGAR5', 'KOTELCHUCK', 'PESO', 'TPROBSON']].mean()
df_resultado = resultado.reset_index()
df_resultado_ordenado = df_resultado.sort_values(by='APGAR5', ascending=False)
df_resultado_ordenado

                 munResNome    APGAR5  KOTELCHUCK         PESO  TPROBSON
1   Desenvolvimento regular  9.233004    5.322783  3255.036835  4.308595
0  Desenvolvimento moderado  9.184522    4.955988  3243.947354  4.318025

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

In [51]:
PIB = {
    'Porto Velho':'Acima de 1 Bilhão',
    'Ji-Paraná':'Acima de 1 Bilhão',
    'Vilhena':'Acima de 1 Bilhão',
    'Ariquemes':'Acima de 1 Bilhão',
    'Cacoal':'Acima de 1 Bilhão',
    'Jaru':'Acima de 1 Bilhão',
    'Rolim de Moura':'Acima de 1 Bilhão',
    'Pimenta Bueno':'Acima de 1 Bilhão',
    'Guajará-Mirim':'Acima de 500 Milhões',
    'Ouro Preto do Oeste':'Acima de 500 Milhões',
    'Buritis':'Acima de 500 Milhões',
    'Machadinho do Oeste':'Acima de 500 Milhões',
    "Espigão d'Oeste":'Acima de 500 Milhões',
    'São Miguel do Guaporé':'Acima de 500 Milhões',
    'Candeias do Jamari':'Acima de 500 Milhões',
    'Nova Mamoré':'Acima de 500 Milhões',
    'Cerejeiras':'Acima de 500 Milhões',
    'Monte Negro':'Acima de 200 Milhões',
    'Alto Alegre dos Parecis':'Acima de 200 Milhões',
    'Campo Novo de Rondônia':'Acima de 200 Milhões',
    'Alvorada do Oeste':'Acima de 200 Milhões',
    'Chupinguaia':'Acima de 100 Milhões',
    'Corumbiara':'Acima de 100 Milhões',
    'Ministro Andreazza':'Acima de 100 Milhões',
    'Urupá':'Acima de 100 Milhões',
    'Costa Marques':'Acima de 100 Milhões',
    'Seringueiras':'Acima de 100 Milhões',
    'Mirante da Serra':'Acima de 100 Milhões',
    'Governador Jorge Teixeira':'Acima de 100 Milhões',
    'Theobroma':'Acima de 100 Milhões',
    'Santa Luzia do Oeste':'Acima de 100 Milhões',
    'Novo Horizonte do Oeste':'Acima de 100 Milhões',
    'Itapuã do Oeste':'Acima de 100 Milhões',
    'Vale do Paraíso':'Acima de 100 Milhões',
    'Cacaulândia':'Acima de 100 Milhões',
    'Cabixi':'Acima de 100 Milhões',
    'Vale do Anari':'Acima de 100 Milhões',
    'Nova União':'Até 100 Milhões',
    'Parecis':'Até 100 Milhões',
    'Rio Crespo':'Até 100 Milhões',
    'Pimenteiras do Oeste':'Até 100 Milhões',
    'Teixeirópolis':'Até 100 Milhões',
    'São Felipe do Oeste':'Até 100 Milhões',
    'Castanheiras':'Até 100 Milhões',
    'Primavera de Rondônia':'Até 100 Milhões'
}

In [92]:
sinasc_PIB = sinasc.set_index('munResNome')
resultado = sinasc_PIB.groupby(PIB)[['APGAR5', 'KOTELCHUCK', 'PESO', 'QTDPARTNOR']].mean()
df_resultado = resultado.reset_index()
df_resultado_ordenado = df_resultado.sort_values(by='APGAR5', ascending=False)
df_resultado_ordenado

             munResNome    APGAR5  KOTELCHUCK         PESO  QTDPARTNOR
3  Acima de 500 Milhões  9.364374    5.392069  3243.336315    0.773682
2  Acima de 200 Milhões  9.319846    4.658960  3233.701349    0.531674
1  Acima de 100 Milhões  9.173984    4.670264  3250.392337    0.487603
0     Acima de 1 Bilhão  9.166223    5.018268  3247.215719    0.569137
4       Até 100 Milhões  9.095491    4.702918  3197.679045    0.466488

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

No geral não foi possível tirar grandes insights, seria necessário fazer mais comparações, tirar gráficos, etc... Porém deu para perceber que nem sempre o local descrito com maior desenvolvimento tem os melhores indices e sim uma variável com outra. Na tabela feita com a divisão de locais através do PIB por exemplo, os valores dos locais acima de 500 milhões ficam bem relacionados em seus bons aspectos, como o melhor APGAR5, o melhor KOTELCHUCK, um valor de PESO regular e uma quantidade de parto normal acima dos demais. Já os locais de aacima de 1 bilhão que teóricamente era para ter mais recursos, não tem seus resultados correspondentes a essa diferença monetária.